#JUlogo{
    height: 50px;
    width: 50px;
}

body{
    background-color: lightskyblue
}

.navigation a{
    color:white;
    font-family: 'Tangerine', serif;
    font-size: xx-large;
    text-decoration: none;
    padding-left: 10px;
}

.navigation{
    width: 100%; 
    position: fixed; 
    top: 0; 
    left: 0;
    background-color:#333;
    z-index: 1000;
}

.contact-center-text{
    padding-top: 75px;
    z-index: 1; 
    text-align: center;
}

.contacts{
    margin-top: 50px;
    font-size: 30px;
}